body{ backgroud-color:grey; color:#330000;font-family: Arial,Verdana sans-serif;}
h1{ text-transform:uppercase;}
main { background-image:url(images/background.jpeg);background-repeat:no-repeat;width:95%}